<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thoigianbieu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/appicon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThoiGianBieu"
        tools:targetApi="31">
        <activity
            android:name=".BackupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SuKienActivity"
            android:exported="false" />

        <receiver
            android:name=".widget.thoikhoabieu.ThoiKhoaBieuWidget"
            android:exported="false"
            android:label="Thời khoá biểu hôm nay">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_thoikhoabieu_info" />
        </receiver>
        <receiver
            android:name=".widget.sukien.SukienWidget"
            android:exported="false"
            android:label="Sự kiện hôm nay">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sukien_info" />
        </receiver>
        <receiver android:name=".notification.NotificationReceiver" />

        <service
            android:name=".widget.thoikhoabieu.WidgetThoiKhoaBieuService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".widget.sukien.WidgetSuKienService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>